## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [143]:
# Your code here
sample_list_1 = random.sample((range(100)),k=80)
print(sample_list_1)
print(len(sample_list_1))

[51, 93, 16, 25, 50, 2, 74, 15, 56, 35, 75, 8, 53, 87, 23, 30, 72, 96, 4, 55, 44, 20, 14, 65, 95, 67, 86, 37, 48, 13, 62, 6, 58, 34, 18, 68, 22, 85, 41, 21, 99, 12, 59, 0, 73, 9, 46, 90, 61, 84, 7, 89, 91, 54, 98, 38, 49, 69, 52, 43, 31, 5, 83, 57, 3, 80, 64, 11, 71, 27, 79, 29, 40, 1, 70, 28, 66, 78, 76, 88]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [144]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [145]:
# Your code here
sample_list_2 = []

for item in range(0,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
print(len(sample_list_2))

[3, 5, 38, 9, 67, 96, 86, 24, 97, 69, 34, 45, 66, 3, 99, 4, 5, 59, 52, 55, 8, 42, 3, 3, 6, 62, 57, 49, 38, 68, 1, 19, 57, 30, 54, 31, 86, 98, 14, 88, 87, 45, 68, 97, 17, 57, 28, 95, 32, 97, 59, 16, 70, 61, 85, 84, 30, 27, 67, 16, 85, 26, 81, 79, 22, 67, 16, 32, 49, 42, 69, 29, 90, 51, 76, 70, 1, 73, 26, 40]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [146]:
# Your code here
set2=set(sample_list_2)
len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [147]:
# Your code here
set3 = []

for item in set1:
    if item not in set2:
        set3.append(item)
        

set3 = set(set3)
print(set3)
len(set3)

{0, 2, 7, 11, 12, 13, 15, 18, 20, 21, 23, 25, 35, 37, 41, 43, 44, 46, 48, 50, 53, 56, 58, 64, 65, 71, 72, 74, 75, 78, 80, 83, 89, 91, 93}

35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [148]:
# Your code here
set4 = []

for item in set2:
    if item not in set1:
        set4.append(item)

set4 = set(set4)
print(set4)
len(set4)

{32, 97, 42, 45, 17, 81, 19, 24, 26}

9

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [149]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
len(set5)

{1, 3, 4, 5, 6, 8, 9, 14, 16, 22, 27, 28, 29, 30, 31, 34, 38, 40, 49, 51, 52, 54, 55, 57, 59, 61, 62, 66, 67, 68, 69, 70, 73, 76, 79, 84, 85, 86, 87, 88, 90, 95, 96, 98, 99}

45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [150]:
# Your code here
print(len(set1)) 
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# I couldn't understand what to do

80
54
35
9
45

#### Create an empty set called `set6`.

In [151]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [152]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [153]:
# Your code here
if set1 == set6:
    print('True')

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [154]:
# Your code here
z = set1.issubset(set2)

g = set1.issubset(set3)

print(z, g)

False False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [155]:
# Your code here
set345 = set3.union(set4,set5)
print(set345)

set12345 = set345.union(set1,set2)
len(set12345)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99}

89

#### Using the `pop` method, remove the first element from `set1`.

In [162]:
# Your code here
list1 = list(set1)
print(list1)
print(list1.pop(0))
print(list1)
set1 = set(list1)
print(set1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99]
1
[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99]
{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [171]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_to_remove = set(list_to_remove)
print(set_list_to_remove)
print(set1)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 40, 41, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99}

In [176]:
new_set = set1 - set_list_to_remove
print(new_set)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 18, 20, 22, 23, 25, 27, 28, 30, 34, 35, 37, 38, 40, 43, 44, 46, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 83, 84, 85, 86, 87, 88, 90, 93, 95, 96, 98}