# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import re
import random

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
lst =[1,2,3,5,6,8,5,5,5,5,5,5,4,4]

def function_count(lst):
    return print(len(lst))

function_count(lst)

14

Create a function that returns the mean of a list of numbers

In [3]:
# Your code here:
def function_mean(lst):
    return print(sum(lst)/len(lst))

function_mean(lst)

4.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [4]:
# Your code here:

def function_std(lst):
    return print(np.std(lst))
function_std(lst)

#lst2 = []
#    x = mean_list_of_numbers(lst2)
#    y =[]
#    for i in lst2:
#       a = (i-x)**2
#        y.append(a)
#    std = (sum(y)/len(y))**0.5
#    return std
    

#lst2 = [1,2,5,99,6]

1.6366341767699428

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [5]:
# Your code here:

def function_cms(lst):

    "This function returns the count, the mean and the standard deviation of a given list"
    
    print(len(lst))
    print(sum(lst)/len(lst))
    print(np.std(lst))
    
function_cms(lst)

14
4.5
1.6366341767699428

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [6]:
# Your code here:
x = 'My neighbor, Mr. Rogers, has 5 dogs.$!'


def function_cleaning(string):
    a = string.lower()
    b = re.sub('\W+','',a)
    c = sorted(b)
    d = ''.join(c)
    return d
   

function_cleaning(x)

'5abdeeggghhimmnooorrrrsssy'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [7]:
# Your code here:
def classification(rate, goodnps = 0, regnps = 0, badnps = 0):
    for i in rate:
        if(i>=9):
            print('Old')
        elif(i==7 or i==8):
            print('middle aged')
        else:
            print('young')
    
    return

list_of_age = [5,8,10,9,1]

classification(list_of_age)

young
middle aged
Old
Old
young

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [9]:
# Your code here:

def function_age():
    age = int(input('User Age: '))
    while (age <=0) or (age>=150):
        age = int(input('Current age: '))
        if (age>= 0) and age <= 150:
            print(f'Age: {age}')
            break
    return

Age = function_age()

User Age:  151
Current age:  151
Current age:  50

Age: 50

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [10]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def function_alphabet(string):
    a = string.lower()
    b = re.sub('\W+','',a)
    c = sorted(b)
    d = ''.join(c)
    return d

print(function_alphabet(buzz))

aaaaaaaabcddeeeeeegghhiiiiiillmnnnnopprrsttuw

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [ ]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [11]:
import pandas as pd

In [12]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [13]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [14]:
import numpy as np

np.mean(iris_numeric)
#calculate the mean by each column

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [15]:
np.std(iris_numeric)

#calculate the standard deviation by each column

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [16]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    x = x*0.393701
    
    return x

cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [17]:
# Your code here:
cm_to_in(iris_numeric)

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [ ]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [ ]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [ ]:
# Your code here: